body {
  font-family: "ABeeZee", sans-serif;
  font-family: "Ysabeau Office", sans-serif;
  color: black;

  margin: 20px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 800px;
}

.container {
  width: 700px;
  height: 500px;
  margin: 20px;
  background: linear-gradient(
    181.2deg,
    rgb(52, 225, 255) 10.5%,
    rgb(254, 254, 254) 86.8%
  );

  border: 1px solid #060606;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#search-text-input {
  display: block;
  width: 100%;
  height: 56%;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #34e1ff;
  background-clip: padding-box;
  border: 1px solid #ffff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #000000;
  position: relative;
  left: 70px;
  flex: 0 0 50%;
  max-width: 150%;
  border-radius: 10px;
}
#search-text-input::placeholder {
  color: black;
}
#search-form {
  position: relative;
  top: 20px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  padding: 0.375rem 0.75rem;
  margin-left: 60px;
  height: 56%;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  color: #000000;
  background-color: #34e1ff;

  font-size: 19px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
#button2 {
  flex: 0 0 25%;
  max-width: 50%;
  position: relative;
  left: 90px;
  width: 100%;
  border-radius: 10px;
  background-color: #34e1ff;
  color: #000000;
  font-weight: 400;
  border: 1px solid #ffffff;
  transition: all 200ms ease-in-out;
}
#button2:hover {
  color: #34e1ff;
  background: #fff;
}

h1 {
  margin-bottom: 20px;
}
.degree {
  font-weight: light;
  font-size: 24px;
  position: relative;
  top: -20px;
}
#celsius {
  font-size: 56px;
  top: 10px;
  position: relative;
  top: 10px;
}

.icon canvas {
  font-size: 300px;
}

li {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}
p2 {
  font-size: 26px;
  position: relative;
  left: 40px;
  font-weight: 500;
}
.temp {
  transition: all 200ms ease-in-out;
  margin-left: 10px;
}
.temp:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #34e1ff;
}
.precipitation {
  transition: all 200ms ease-in-out;
}
.precipitation:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #34e1ff;
}
.wind {
  transition: all 200ms ease-in-out;
}
.wind:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #34e1ff;
}
#city {
  font-weight: 600;
  font-size: 24px;
}
.time {
  font-size: 24px;
  font-weight: 600;
}
p3 {
  position: relative;
  line-height: 1.2;
  text-align: right;
  margin-right: 20px;
  position: relative;
  right: 20px;
}
.weather-forecast-date {
  font-size: 20px;
  font-weight: 500;
  padding-top: 7px;
  line-height: 15px;
}

.forecast-image {
  font-size: 10px;
  display: block;
  height: 60px;
  margin: 1px 4px 0;
  width: 60px;
  align-items: center;
  text-align: center;
}
.weather {
  font-size: 30px;
}

.temperature-container {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

.temperature-1 {
  font-size: 24px;
  font-weight: 400;
}

.temperature-2 {
  font-size: 20px;
}
ul {
  list-style: none;
  position: relative;
  bottom: -20px;
  right: -30px;
  padding: 0;
  margin-bottom: 20px;
}
#description {
  position: relative;
  top: -10px;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
a {
  text-decoration: none;
}

#row-2 {
  margin-top: 20px;
}

.col-2 {
  font-size: 24px;
}
.active {
  color: white;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
}
.forecastt {
  display: flex;
  justify-content: space-between;
}
.forecol {
  flex: 1;
  padding: 10px;
  border: 1px solid;
  height: 100%;
  width: 100%;
  position: relative;
  top: 60px;
  left: 30px;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 15px;
  transition: all 200ms ease-in-out;
  background: #54e2fc;
}
.forecol:hover {
  cursor: pointer;
  background-color: #fff;
  transform: scale(1.2);
  color: black;
}
#opensource {
  position: relative;
  bottom: -90px;
}
